/* HEADER ===== */
.header{
   width: 100%;
   background-color: var(--second-color);
   position: sticky;
   top: 0;
   left: 0;
   padding: 20px 0;
   color: var(--first-color);
   z-index: 3;
}
.header img{
   height: 50px;
   min-width: auto;
   display: block;
   margin: 0 auto;
}
.header__list{
   position: fixed;
   top: 90px;
   left: 0;
   display: block;
   width: 100%;
   background-color: var(--second-color);
   transform: translate(-100%,0);
   transition: transform .5s ease;
}
.header__list.isActive{
   transform: translate(0,0);
}
.header__list li{
   display: flex;
   justify-content: center;
   align-items: center;
}
.header__list li .btn{
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   width: 100%;
   padding: 25px;
}
@media (min-width:768px){
   .header{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .header img{
      padding-left: 20px;
      margin: 0;
   }
   .header__list{
      position: initial;
      display: flex;
      width: auto;
      transform: none;
   }
   .header__list li .btn{
      padding: 10px 15px;
   }
}



/* HOME ===== */
.home{
   position: relative;
   overflow-x: hidden;
   min-height: 100vh;
   top: -90px;
}
.home__title{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   z-index: 1;
}
.home__title h1{
   color: var(--first-color);
   font-size: 2.5rem;
   padding: 20px 10px;
   font-weight: bold;
   background-color: var(--second-color-modal);
}
.home video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
}
@media(min-width: 768px){
   .home__title h1{
      font-size: 5rem;
   }
}



/* NOSOTROS ===== */
.nosotros{
   text-align: center;
}
.nosotros h2{
   font-size: 2rem;
   font-weight: bold;
}
.nosotros__desc-txt{
   padding: 30px;
}
.nosotros__gallery{
   display: flex;
   overflow-x: scroll;
}
.nosotros__clients{
   padding-top: 30px;
   background-color: var(--third-color);
}
.nosotros__clients-list{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.nosotros__clients-list img{
   height: 100px;
   margin: 0 auto;
   filter: grayscale(1);
}
@media(min-width: 768px){
   .nosotros__desc{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
   }
   .nosotros__desc-txt{
      padding: 0 50px;
   }
   .nosotros__gallery{
      margin-top: 30px;
      height: 150px;
   }
   .nosotros__clients-list{
      grid-template-columns: repeat(9, 1fr);
   }
   .nosotros__clients-list img{
      height: 70px;
   }
}